<div class="section1">
  <h1>Blocipedia:  Social, Markdown Wikis</h1>
  <h3>The Benefits of Wikis?</h3>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-sitemap fa-5x circle"></i>
      <p class="lead"> <strong>Organization</strong></p>
      <p class="lead"> Wikis allow you to keep all of your thoughts and information in one location by allowing you to edit and update at any time.
    </div>

    <div class="col-md-4">
      <i class="fa fa-rocket fa-5x circle"></i>
      <p class="lead"><strong>Speed</strong></p>
      <p class="lead">Wikis create a quick platform to create new Wikis, update old, or add to others all in one place. Saving you time and frustration.</p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-user fa-5x circle"></i></span>
      <p class="lead"><strong>Colaberation</strong></p>
      <p class="lead">The most powerful part of a wiki is the ability for multiple people to contribute to it.  By allowing others to add to wikis you create an endless knowledge pool.</p>
    </div>
  </div>
</div>

<div class="section2">
  <h1>Start Creating Today!</h1>
  <h2>Standard membership is FREE and includes unlimited public wikis!</h2>
    <p><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-intro' %></p>
</div>