<div class="section1">
  <h1>Blocipedia:  Social, Markdown Wikis</h1>
    <div class="jumbotron col-md-10 col-md-offset-1">
      <h3>Create and share Markdown Wikis</h3>
      <p><%= link_to "Sign up", '#', class: 'btn btn-primary btn-lg' %></p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <p class="lead">Create as many public Wikis as you want</p>
          <%= link_to '#'  do %>
            <i class="fa fa-share-alt fa-4x"></i>
          <% end %>
          <p class="lead">Free Plan</p>

        </div>
        <div class="col-md-3 col-md-offset-1">
          <p class="lead">Create as many private Wikis as you want</p>
          <%= link_to '#'  do %>
            <i class="fa fa-user-secret fa-4x"></i>
          <% end %>
          <p class="lead"> Premium Plan</p>
        </div>
      </div>
    </div>
</div>