@import "bootstrap-sprockets";
@import "bootstrap";

// Devise //
.center h2{
  text-align: center;
}
.center{
  padding: 30px;
  background-color: #52B3D9;
  height: 500px;
  margin: 30px;
}
// Welcome Index //
.section1{
  text-align: center;
  min-height: 600px;
  background-color: #52B3D9;
  width: 100%;
  padding: 30px;
  margin-top: -25px;
}

.circle{
  border-radius:600px;
  width: 170px;
  padding: 50px;
  font-size:20px;
  color:#fff;
  line-height:120px;
  text-align:center;
  background:#000;
  margin: 20px;
}

.section2{
  padding-top: 30px;
  text-align: center;
  min-height: 700px;
  background-color: #2ECC71;
  width: 100%;
  margin-top: 100;
}
.section2 h1{
  font-size: 48pt;
  padding-bottom: 20px;
}
.btn-intro{
  margin: 25px;
  padding: 15px 30px;
  background: none;
  border: 5px solid #0099cc;
  color: #0099cc;
  font-size: 18pt;
}
.btn-intro:hover{

  background: none;
  border: 6px solid;
}

//navbar//

.upgrade:hover{
  background-color: #F64747;
  color: white;
}
.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.section1{
  text-align: center;
}